APP_ENV="production"
PORT="3005"
API_PREFIX="api"
TRUST_PROXY="1"

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"

JWT_ACCESS_SECRET="change-me-min-16-chars"
JWT_REFRESH_SECRET="change-me-min-16-chars"
JWT_ACCESS_TTL_SECONDS="900"
JWT_REFRESH_TTL_SECONDS="2592000"

COOKIE_DOMAIN=".comunidadeai.com.br"
COOKIE_SAMESITE="none"
CORS_ORIGINS="https://comunidadeai.com.br,https://www.comunidadeai.com.br,https://app.comunidadeai.com.br"
ADMIN_IP_ALLOWLIST=""

BCRYPT_COST="12"

THROTTLE_TTL_MS="60000"
THROTTLE_LIMIT="120"

BRUTEFORCE_WINDOW_MS="900000"
BRUTEFORCE_MAX_ATTEMPTS="10"
BRUTEFORCE_BASE_BLOCK_MS="300000"
BRUTEFORCE_MAX_BLOCK_MS="3600000"

CSP_ENABLED="true"
CSP_REPORT_ONLY="false"

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_PUBLIC_BASE_URL=""
R2_SIGNED_URL_TTL_SECONDS="900"
UPLOAD_MAX_BYTES_DEFAULT="26214400"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_WEBHOOK_TOKEN=""
HOTMART_WEBHOOK_TOKEN=""

PANDAVIDEO_API_KEY=""
PANDAVIDEO_TUS_ENDPOINT="https://uploader-us01.pandavideo.com.br/files"
PANDAVIDEO_FOLDER_ID=""
PANDAVIDEO_WEBHOOK_TOKEN=""

APP_PUBLIC_URL="https://app.comunidadeai.com.br"
SUPPORT_EMAIL="suporte@comunidadeai.com.br"
EMAIL_PROVIDER="resend"
EMAIL_FROM="Comunidade AI <no-reply@comunidadeai.com.br>"
RESEND_API_KEY=""

OUTBOX_ENABLED="true"
OUTBOX_POLL_INTERVAL_MS="5000"
OUTBOX_BATCH_SIZE="25"
OUTBOX_MAX_ATTEMPTS="8"

DEFAULT_TENANT_SLUG="default"
SEED_ADMIN_EMAIL="admin@comunidadeai.com.br"
